$mainColor : #F1C30F;

// Global
.heading-wrapper {
	display: block;
	span {
		color: #F1C30F;
	    font-size: 14px;
	}
	h2 {
		font-size: 38px;
	    font-weight: 500;
	    line-height: 1.2;
	    padding: 16px 16px;
	}
}
// ========================== ABOUT SECTION ========================== //
.about-section {
	.heading-left {
		width: 100%;
		display: block;
		position: relative;
		margin: 20px 0;
	}
	.heading-wrapper {
		display: block;
		span {
	    	position: absolute;
		    top: 54px;
		    left: -18px;
		    letter-spacing: 1px;
		    -webkit-transform: rotate(-90deg);
		    transform: rotate(-90deg)
		 /* Standard syntax */;
		}
		h2 {
		    padding: 16px 16px;
		    padding-left: 35px;
		}
	}
	.about-blog {
		> p {
			margin-bottom: 15px;
		}
	}
}
// ========================== ABOUT SECTION ========================== //

.benefit-section {
	.heading-wrapper {
		display: block;
		text-align: center;
		span {
	    	letter-spacing: 2px;
    		text-transform: uppercase;
		 
		}
		h2 {
			padding-top: 4px;
		}
	}
	.benefit-content-slider {
		margin-top: 20px;
	}
}

#module-video-0 {
    background: #252525;
}