$mainColor : #F1C30F;
// ========================== ABOUT SECTION ========================== //
.about-section {
	.heading-left {
		width: 100%;
		display: block;
		position: relative;
		margin: 20px 0;
	}
	.heading-wrapper {
		display: block;
		span {
			color: #F1C30F;
		    position: absolute;
		    font-size: 14px;
		    left: -21px;
		    top: 54px;
		    letter-spacing: 1px;
		    -webkit-transform: rotate(-90deg);
		    transform: rotate(-90deg)
		 /* Standard syntax */;
		}
		h2 {
			font-size: 38px;
		    font-weight: 500;
		    line-height: 1.2;
		    padding: 16px 16px;
		    padding-left: 35px;
		}
	}
	.about-blog {
		> p {
			margin-bottom: 15px;
		}
	}
}
// ========================== ABOUT SECTION ========================== //