body {

    background-image: url(../image/background.jpg);

}
.col-sm-offset-4.col-sm-4 {
    margin-top: 8%;
}
.panel-default {
    border-color: #ddd;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 30px;
}
.panel-default > .panel-heading {
    background-color: #ffffff;
    border-color: #fff;
}
.input-group-addon {
	 border-radius: 0;
    box-shadow: none;
    outline: none;
    background: #fff;
}
.input-group .form-control  {
    background: #ffff;
    border-color: rgba(0,0,0,0.4);
    border-radius: 0;
    box-shadow: none;
    outline: none;
}
.btn-primary {

    width: 100%;
    border-radius: 0;
    border-color: #004e8c;
    background-color: #005da6;
}
.input-group-addon {
	border-color: rgba(0,0,0,0.4);
    background-color: #fff;
}
i.fa {
    color: #005da6;
}
.overlay {
    background: #000;
    opacity: .55;
    filter: alpha(opacity=55);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.alert  {
	border-radius: 0;
}

html, body, #container {
    background-color: transparent;
    height: auto !important;
}